* {
  margin: 0;
  padding: 0;
}

.dashboard {
  display: flex;
  width: 100%;
  height: 100vh;
}

.dashboard_sidebar {
  width: 13%;
  height: 100vh;
}
.dashboard_sidebar img {
  width: 60px;
  border-radius: 50px;
}

.side_items {
  padding: 20px;
  font-weight: 700;
  font-size: larger;
  margin-top: 5px;
}
.side_items_anchor {
  text-decoration: none;
  color: black;
  display: flex;
}
.side_items_anchor img{
  border-radius: 10px;
  width: 35px;
  height: 35px;
  margin: 20px 0 0 20px;
}

.side_items_anchor:hover{
  background-color: rgb(106, 156, 250) !important;
  cursor: pointer;
  color: whitesmoke;
}
.center_content {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100vh;
}

.topbar {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  float: right;
}

.topbar h3{
  margin-left: 20px;
}
.content {
  background-color: rgb(237, 243, 241);
  flex: 1;
  overflow-y: auto;
}

.side_item_list {
  display: flex;
}
.topbar img {
  width: 50px;
}
.topbar_info {
  display: flex;
  justify-content: right;
  justify-items: right;
  align-items: right;

  position: absolute;
  right: 1%;
  top: 20px;
}
.topbar_info p{
  margin-top: 10%;
  margin-left: 10px;
}
.logout_btn{
  margin-left: 20px;
    width: 25px !important;
    height: 25px;
    margin-top: 14px;
    cursor: pointer;
}

.card {
  background-color:white;
  width: 21%;
  height: 250px;
  margin: 25px;
  float: left;
  border-radius: 20px !important;
  display: flex;
}
.card_header .card_body {
  margin: 10px;
}
.card_header h1 {
  text-align: left;
  padding: 20px;
}
.card_header img{
  width: 90px;
  height: 45%;
  padding: 10px;
  margin: auto;
  padding: 50px 0 0 40px ;
}
.card_body{
    text-align: center;
    padding: 20px;
}
.card_body p{
    padding-top: 90px;
}
.card_body h1{
  padding: 50px 0 0 0 ;
}
.chart_content{
  width: 90%;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column-reverse;
}
.barchart {
  display: flex;
  flex-direction: row-reverse;
  margin: 20px;
  margin-top: 20px;
  height: 350px;
  width: 35%;
}
.piechart{
  display: flex;
  flex-direction: row-reverse;
  margin: 20px;
  margin-top: 20px;
  height: 350px;
  width: 550px;
}
.image_content_dashboard{
 display: flex; 
 flex-direction: row;
 flex-wrap: wrap;
}